* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.banner {
  display: inline-block;
  width: 750px;
  height: 540px;
  padding: 7px;
  top: -30px;
  position: relative;
}

.screen {
  width: 500px;
  height: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}

.screen ul {
  position: absolute;
  top: 0px;
  width: 3500px;
}

.screen li {
  width: 650px;
  height: 320px;
  float: left;
  overflow: hidden;
}

.screen img {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leftArr {
  cursor: pointer;
  width: 30px;
  height: 50px;
  position: absolute;
  top: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.rightArr {
  cursor: pointer;
  width: 30px;
  height: 50px;
  position: absolute;
  top: 150px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 50px;
}

.dot {
  cursor: pointer;
  position: absolute;
  width: 93px;
  height: 20px;
  bottom: 7px;
  right: 210px;
}

.dot ul li {
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fff;
  float: left;
  margin: 7px 8px;
}

.dot ul li.active {
  transition: 0.5s;
  background-color: #fff;
  background-clip: content-box;
  padding: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 5px 6px;
}

.nav-left {
  position: relative;
  display: inline-block;
  width: 17%;
  height: 450px;
  padding: 10px 0;
}
.nav-left li {
  padding-left: 25px;
  line-height: 35px;
  list-style: none;
  letter-spacing: 2px;
}
.nav-left li:hover {
  background-color: #f7e0e0;
}
.nav-left li a {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
}
.nav-left li span {
  font-size: 12px;
  padding-left: 2px;
}
.nav-left li a:hover {
  color: #c81623;
}

.details {
  background-color: #c81623;
  display: none;
  width: 700px;
  height: 420px;
  position: absolute;
  z-index: 2000;
  margin-top: 18px;
  margin-left: 9px;
  margin-top: 268px;
}

.show {
  position: absolute;
  top: 150px;
  bottom: 0px;
  left: 300px;
  width: 1300px;
  background-color: rgb(248, 249, 250);
  border-radius: 20px;
}
.box {
  margin-top: 10px;
}
.input {
  width: 650px;
  height: 45px;
  border-radius: 50px;
  padding-left: 30px;
  border: 1px solid black;
  outline: none;
}

.taobao_image {
  /* margin-top: 10px; */
  position: relative;
  top: 40px;
  margin-right: 80px;
  margin-left: 350px;
}

.search{
    position: relative;
    height: 45px;
    width: 60px;  
    background-color: #fa4f5b;
    right: 50px;
}
.themeTitle{
  text-align: center;
  color: #c81623;
  font-size: 20px;
  padding: 10px;
}

.middle{
  display: inline-block;
  width: 82%;
}

.middleTitle li{  
  display: inline-block;
  padding-right: 20px;
}

.middleTitle li a {
  color: #333333;
  font-size: 16px;
  text-decoration: none;
}

.middleTitle ul{
  display: inline-block;
}

.middleTitle{
  top: -30px;
  position: relative;
  width: 100%;
}
div .login{
  display: inline-block;
  position: relative;
  height: 100%;
}

.leftBottom{
  height: 200px;
  width: 500px;
  /* position: relative;
  top: 30px; */
  border-radius: 20px;
}

.leftBottom img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.rightTop{
  height: 300px;
  width: 200px;
  /* position: relative;
  top: 30px;
  left: 400px; */
  border-radius: 20px;
  /* display: inline-block; */
}

.rightTop img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* 
.top{
  height: 320px;
  width: 750;
  background-color: #c81623;
} */